extends ./template/layout
block content
  <h5 align="center">Welcome to Medchain</h3>
  <p align="center">
    <img src="img/report.png" height="200px" width="150px">
  </p>
  <table class="table borderless" style="background-color: LightSteelBlue;" align="center">
    <tr align="center">
      <td>
        <input type="password" placeholder="Password" align="center">
      </td>
    </tr>  
  </table>
  <p align="center">
    <h5 align="center">or</h5>
  </p>
  <div class="row" align="center">
    <div class="col-xs-6 col-md-6" align="center">
    <img src="img/fingerprint.png" href="/patientfunction" height="42" width="42" align="center">
    </div>
    <div class="col-xs-6 col-md-6" align="center">
      Fingerprint Access
    </div>
  </div>